:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --corn-flower: #e7e9fc;
  --white: #ffffff;
  --dairy: #fcfcfc;

  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway; sans-serif";
}

body {
  font-family: var(--font-family);
  font-family: var(--secondary-font);
  background-color: var(--white);
  color: var(--slate);
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.studio-text {
  font-family: var(--secondary-font);
  color: #2e2f42;
}

.header-link {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  width: Hug (261px) px;
}

.address-link {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.address-link:hover {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--ocean);
}

.section-title {
  width: 1440px;
  height: 600px;
  top: 72px;
  gap: 0px;
  opacity: 0px;
  background-color: #2e2f42;
}

.h1-title {
  font-family: Roboto;
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0.02em;
  top: 260px;
  margin-top: 26px;
  left: 460px;
  text-align: center;
  color: #ffffff;
}

.button-type {
  width: Hug (169px) px;
  height: Hug (56px) px;
  top: 428px;
  left: 636px;
  padding: 16px 32px 16px 32px;
  gap: 10px;
  border-radius: 4px 0px 0px 0px;
  opacity: 0px;
  background: #4d5ae5;
}

.button-type:hover {
  width: Hug (169px) px;
  height: Hug (56px) px;
  top: 88px;
  left: 20px;
  padding: 16px 32px 16px 32px;
  gap: 10px;
  border-radius: 4px 0px 0px 0px;
  opacity: 0px;
  color: var(--ocean);
}

.about-us-section {
  width: 1128px;
  height: 104px;
  top: 792px;
  left: 156px;
  gap: 0px;
  opacity: 0px;
}

.about-us-title {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--navy-blue);
}

.about-us-paragraf {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--slate);
}

.our-team-section {
  width: 1440px;
  height: 732px;
  top: 1016px;
  gap: 0px;
  opacity: 0px;
  background-color: #f4f4fd;
}

.our-team-title-1 {
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
}

.our-team-title-2 {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
}

.our-team-paragraf {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
}

.portofolio-section {
  width: 1128px;
  height: 1000px;
  top: 1868px;
  left: 156px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  background-color: #e7e9fc;
}

.portofolio-title-1 {
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
}

.portofolio-title-2 {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--navy-blue);
}

.portofolio-paragraf {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
}

.footer-section {
  width: 1440px;
  height: 312px;
  top: 2988px;
  gap: 0px;
  opacity: 0px;
  background-color: #2e2f42;
  font-family: var(--secondary-font)
}

.footer-logo {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
  color: var(--iris);
}

.footer-logo2 {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer-paragraf {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #f4f4fd;
}
