

body {
color: #434455;
  font-family: "Roboto", sans-serif;
  background-color: #FFFFFF;
}

.logo {
  font-family:"Raleway",sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);

}

.studio-text {
  font-family: var(--second-family);
  color: var(--navi-blue);

}

.header-link {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  color:#2E2F42;
  width: Hug (261px)px;
}

.head-items{

}

.address-link {
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.02em;


}

.section-title{
width: 1440px;
height: 600px;
top: 72px;
gap: 0px;
opacity: 0px;
background-color: #2E2F42;
}

.h1-title{
font-family: Roboto;
font-size: 56px;
font-weight: 700;
line-height: 60px;
letter-spacing: 0.02em;
text-align: center;
color:#FFFFFF;
;

}

.button-type{
  width: Hug (169px)px;
    height: Hug (56px)px;
    top: 428px;
    left: 636px;
    padding: 16px 32px 16px 32px;
    gap: 10px;
    border-radius: 4px 0px 0px 0px;
    opacity: 0px;
background: #4D5AE5;
position: center;
}




